* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
}

.header-menu ul {
    display: flex;
    list-style: none;
}

.header-menu li {
    padding: 0 10px;
    font-size: 11px;
    border-right: 1px solid #dbdbdb;
}

.header-menu li:last-child {
    border-right: none;
}

.header-menu a {
    color: #666;
}

.logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}

.logo img {
    height: 40px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
}

.menu a {
    color: #333;
}

.underline {
    display: flex;
    align-items: center;
}

.oneplus {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-right: 15px;
}
.serch{
    border-bottom: 1px solid black;
}
.serch img {
    width: 20px;
}

#main {
    width: 100%;
}

.main-img img {
    width: 100%;
    display: block;
}

.main-text {
    padding: 60px 0; /* absolute 대신 padding으로 간격 유지 */
    text-align: center;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.content {
    font-size: 10px;
    color: #999999;
    margin: 20px 0;
}

#footer {
    border-top: 1px solid #dbdbdb;
    padding: 50px 0;
}

.footertop {
    display: flex;
    gap: 80px;
}

.footer-content h3, .footertop h3 {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.footer-content, .footertop div {
    font-size: 12px;
    line-height: 1.6;
    color: #666;
}